<div style="margin-top:70px">
   <div class = "row">
     <i class ="material-icons prefix" style = "color:#ffab40">grade</i>
     <span style="color:#8c8c8c; font-weight:bold">비밀번호를 입력하시면 <span style="color:#ffab40">수정하기</span> 페이지로 이동합니다.</span>
   </div>

  <form action="/update_view/<%=@will_edit.id %>" method="POST">
    <input name ="edit_password" type="password" placeholder="비밀번호를 입력해 주세요">
    <button type="submit" class="btn btn-primary deep-orange lighten-2">확인</button>
  </form>
</div>
