<p>안녕하세요 <%= @resource.email %>님!</p>

<p>비밀번호를 잊어버리셨다면 다음 링크를 클릭해 주세요</p>

<p><%= link_to '비밀번호 바꾸기', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>만약 요청을 보내신 적이 없다면 이 메일을 무시해주세요</p>
<p>링크에 접근하시기 전까지 비밀번호는 바뀌지 않습니다.</p>
